# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Node.js dependencies
/node_modules
/npm-debug.log
/yarn-error.log
/package-lock.json
/yarn.lock

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
